.panes {
  .pane-row > * {
    border-right: 1px solid #999999;
    &:last-child { border-right: none; }
  }

  .pane-column > * {
    border-bottom: 1px solid #999999;
    &:last-child { border-bottom: none; }
  }
}
